<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kevinbthomson - {{ title }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}" />
  </head>
  <body>
    <div class="site-layout">
      {% include "../partials/header.njk" %}
      <main tabindex="-1" id="main-content">
        {{ content | safe }}
      </main>
      {% include "../partials/footer.njk" %}
    </div>

    <script>
      function print(val) {
        console.log(val);
      }

      function useCallback(callback) {
        callback('hello');
      }

      useCallback((value) => {
        console.log(value);
      });
    </script>
  </body>
</html>
