---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/blog/">Blog</a></li>
      </ul>
    </nav>

		<h1>About me</h1>
		<h1>... and my new Astro site!</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo incidunt pariatur ipsa est consectetur adipisci id perspiciatis consequuntur atque. Quo recusandae ut aliquam repudiandae vitae eius omnis saepe, maiores qui?</p>
	</body>
</html>
