header.site-header {
  align-items: center;
  background-color: var(--color-primary);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  & nav {
    & ul {
      display: flex;
      margin-left: auto;
      list-style: none;

      & li {
        margin: 0 0 0 1rem;

        & a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
