h1,
h2,
h3,
h4 {
  font-family: 'Merriweather', serif;
  margin: 1rem 0;
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.625rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 1rem;
}

p {
  margin: 1rem 0;
  color: var(--color-text);
}

p:last-child {
  margin-bottom: 0;
}
