---
title: Dialog as drawer
description: Can I use the html <dialog> element as a drawer?
date: 2022-07-26
---

<h1>{{ title }}</h1>

<h4>{{ description }}</h4>

Ex incididunt minim incididunt ea. Occaecat non officia duis elit in reprehenderit dolor incididunt occaecat occaecat exercitation dolore velit in. Dolor sint elit aliquip non reprehenderit. Dolor sint nulla enim id laboris commodo do do nostrud labore veniam enim.

<p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="YzYrpRY" data-user="kevinbthomson" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/kevinbthomson/pen/YzYrpRY">
  Dialog as drawer</a> by Kevin Thomson (<a href="https://codepen.io/kevinbthomson">@kevinbthomson</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

Qui cillum officia ex minim commodo incididunt laborum Lorem ad. Reprehenderit adipisicing incididunt nulla mollit. Cupidatat exercitation excepteur labore amet do minim nisi in ad laborum ad sint. Excepteur deserunt irure id dolore est nulla veniam eiusmod nisi.
